@import url('https://fonts.googleapis.com/css2?family=Braah+One&display=swap');
.text{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #8a94ad;
    flex-direction: column;
}
h1{
    font-family: 'Braah One', sans-serif;
    font-size: 150px;
}
