<section id="fourth-page">
    <div class="container">
        <div class="row1">
            <div class="agence">
                <img class="loyd" src="../../../../assets/logo-new-lloyd_0.png" alt="">
                
            </div>

            <div class="agence">
                <img class="BIAT" src="../../../../assets/logoassbiat.png" alt="">
                
            </div>

            <div class="agence">
                <img class="maghr" src="../../../../assets/margh.png" alt="">
                
            </div>
        </div>


        <div class="row2">
            <div class="agence">
                <img class="carte" src="../../../../assets/logo.svg" alt="">

                
            </div>

            <div class="agence">
                <img class="takaful" src="../../../../assets/takafol.gif" alt="">
                
            </div>

            <div class="agence">
                <img class="ami" src="../../../../assets/ami.jpg" alt="">
                
            </div>
        </div>
    </div>
    <div class="button">
        <button mat-raised-button>Voir Plus</button>
    </div>
</section>
