.main{
    width: 700px;
}
.card{
    padding: 30px;
    border: none;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.056);
    background-color: #eaf3fa;
}
label{
    color: #7499f1;
    position: relative;
    top: 7px;
}
input{
    
}
::placeholder {
    color: #7499f1;
  }
  
  button{
    margin: -15px;
    width: 110px;
    display: block;
    margin: 0 auto;
    background-color: #fa9746;
    border: none;
}
button:hover{
    background-color: #7499f1;
}
.form-control{
    background-color: transparent;
    width: 100%;
}
.row1{
    display: flex;
    justify-content: space-between;
}
.note{
    background-color: #7499f1;
    border-radius: 5px;
    color: white;
    padding: 5px;
}
.avatar{
    margin-left: 75px;
    background-color: #7499f1;
}
.btn{
    width: 150px;
}
h1{
    color: #2b468b;
    font-size: 45px;
    text-align: center;
    font-weight:bold;
}





.file{
    width: 100%;
    position: relative;
    bottom: 35px;
}